html{
  font-size: 62.5%
  }
body{
  margin: 0;
  font-family: 'Rosario',sans-serif;
  color: #36454F;
  overflow-x: hidden;
}
h1{
  font-family: 'Rosarivo',serif;

  font-weight: lighter;
  margin-bottom: -3rem;
  font-size: calc(70px + (74 - 70) * ((100vw - 500px) / (1300 - 500)));
}

h3{
  font-size: calc(28px + (1) * ((100vw - 500px) / (1300 - 500)));
  font-weight: lighter;
  font-family: 'Rosario',sans-serif;
  margin-left: .5rem;
}
p{
  font-family: 'Rosario',sans-serif;
}
h2{

}
nav{

}
a:link{
  text-decoration: none;
  color:#36454F;

}
#irishsymbol{
  height: 5.5rem;
  width:  5.5rem;
  margin: .6rem;
  margin-right: 2rem;
}
#navflexgrandparent{
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: #DEE8CF;
  position: fixed;
  z-index: 500;

}
.subdivnav{
  display: flex;
  justify-content: space-between;

  margin-right: 0rem;
}
.subdivnav a{
  font-size: 1.8rem;
  margin: 0;
  margin-right: 3rem;
}
#essays{
  margin-right: 0rem;
}
#contact{
  margin-right: 2rem;
}
#calmsea{
  width: 100%;
  min-height: 100%;
  height: auto;
  position: absolute;
  bottom: -3rem;
  margin-bottom: 0;
}
#calmseaholder{
  overflow: hidden;
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0;

}
.maincontent{
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 4rem;
  left: 13rem;
  width: 50rem;
}
#about{
  font-size: 2rem;
  border-style: solid;
  border-color: #36454F;
  border-radius: .7rem;
  padding-left: 4rem;
  padding-right: 4rem;
  padding-top: .2rem;
  padding-bottom: .2rem;
  border-width: .25rem;
  font-size: 2.5rem;
  width: 10rem;
  margin-top: -1rem;
  text-align: center;

}


@media (max-width: 680px){
  .maincontent{
    align-items: center;
    text-align: center;
    left: 5vw;
    top: 9rem;
    margin: 0;
    width: 90vw;

  }
  #bio{

  }
}
@media (max-width: 1100px){

#calmsea{
  width: 1100px;

}
}
